<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://votur-db.documents.azure.com:443/" />
    <add key="PrimaryKey" value="9WSMiXMa9xQ2mIMbG7GWV3IB0bMWsXeoMBCu40j5ceGJgCSTXd6gHwuI0rkyG7B71Wbvkxt5jvqM1rqLFo6J7w==" />
  </appSettings>
</configuration>